<div class="card p-4 shadow-sm">
  <%= form_with(model: @job_application, local: true, class: "needs-validation") do |form| %>
    <div class="mb-3">
      <%= form.label :company, "Company Name", class: "form-label" %>
      <%= form.text_field :company, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Job Title", class: "form-label" %>
      <%= form.text_field :title, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :status, "Application Status", class: "form-label" %>
      <%= form.select :status, ["Pending", "Accepted", "Rejected"], {}, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= form.label :applied_date, "Applied Date", class: "form-label" %>
      <%= form.date_field :applied_date, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :interview_date, "Interview Date", class: "form-label" %>
      <%= form.date_field :interview_date, class: "form-control" %>
    </div>

    <%= form.submit class: "btn btn-primary" %>
  <% end %>
</div>
