<h1>Job Applications</h1>

<%= link_to "View Interview Calendar", calendar_job_applications_path, class: "btn btn-info" %><br><br>
<%= link_to "Add New Job", new_job_application_path, class: "btn btn-primary" %>

<ul>
  <% @job_applications.each do |job| %>
    <li>
      <strong><%= job.title %></strong> at <%= job.company %>
      - Status: <%= job.status %>
      - Applied on: <%= job.applied_date.strftime("%B %d, %Y") if job.applied_date %>
      - Interview Date: <%= job.interview_date.strftime("%B %d, %Y") if job.interview_date %>

      | <%= link_to "Edit", edit_job_application_path(job) %>
      | <%= link_to "Delete", job_application_path(job), method: :delete, data: { turbo_method: :delete, confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
